<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxSwift-Learning.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C6769DF23A760C00068BAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6769F523A760C30068BAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C676A0023A760C30068BAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
